appdirs==1.4.3
arrow==0.15.8
attrs==19.3.0
binaryornot==0.4.4
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
distlib==0.3.0
docopt==0.6.2
filelock==3.0.12
idna==2.10
importlib-metadata==1.7.0
importlib-resources==1.4.0
iniconfig==1.0.1
Jinja2==2.11.2
jinja2-time==0.2.0
MarkupSafe==1.1.1
more-itertools==8.4.0
packaging==20.4
Paste==3.4.3
PasteDeploy==2.1.0
PasteScript==3.2.0
pbr==5.4.5
pluggy==0.13.1
poyo==0.5.0
py==1.9.0
pyparsing==2.4.7
pytest==6.0.1
python-dateutil==2.8.1
python-slugify==4.0.1
requests==2.24.0
six==1.15.0
stevedore==1.32.0
text-unidecode==1.3
toml==0.10.1
urllib3==1.25.10
virtualenv==20.0.18
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
zipp==3.1.0
